---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>

            {{ content }}

        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Project Details</h4>
            <div class="hline"></div>
            <p><b>When:</b> {{ page.when }}</p>
            <p><b>Model:</b> {{ page.model }}</p>
            {% if page.client != null %}
            <p><b>Client:</b> {{ page.client }}</p>
            {% endif %}
            <p><b>Technologies:</b> {{ page.tech }}</p>
            {% if page.website != null %}
            <p><b>Website:</b> <a href="{{ page.website }}">Click here</a></p>
            {% endif %}
        </div>
    </div><! --/row -->
</div><! --/container -->

{% include projects.html title="Projects." limit=5 %}
